<div style=" position: -webkit-sticky; position: sticky; top: 0; z-index: 99;">
    <header class="header header__shrink">
        <div class="container">
            <div class="nav__wrapper d-flex align-items-center justify-content-between">
                <div class="logo">
                    <img src="assets/img/favicon.png" alt="logo">
                    <h5>Tasty Treat</h5>
                </div>
                <div class="navigation">
                    <div class="menu d-flex align-items-center gap-5">
                        @{
                            List<EnumPageType> pageTypes = Enum.GetValues(typeof(EnumPageType)).Cast<EnumPageType>().ToList();
                        }
                        @foreach (var page in pageTypes)
                        {
                            string link = $"Food/Index#{page.ToString()}";
                            if (page.ToString() == "Cart") link = "/Food/Cart";

                            <a
                                @*class="@(page == _menuStateContainer.PageType ? "active__menu" : "")"*@
                                href="@link"
                                @*@onclick="() => GoToPage(page)"*@
                                aria-current="page">
                                @(page.ToString())
                            </a>
                        }
                    </div>
                </div>
                <div class="nav__right d-flex align-items-center gap-4">
                    <span class="cart__icon">
                        <i class="ri-shopping-basket-line" id="cart_icon"></i>
                        <span class="cart__badge" id="card_count">0</span>
                    </span>
                    <span
                        class="user">
                        <a href="#">
                            <i
                                class="ri-user-line">
                            </i>
                        </a>
                    </span>
                    <span class="mobile__menu">
                        <i
                            class="ri-menu-line">
                        </i>
                    </span>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="cart__container" id="cart_section" style="display:none">

</div>