@{
    Layout = null;
}
<section class="why__choose-us pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <img
                    src="assets/img/location.png"
                    alt="why-tasty-treat" class="w-100">
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="why__tasty-treat">
                    <h2 class="tasty__treat-title mb-4">Why <span>Tasty Treat?</span></h2>
                    <p class="tasty__treat-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Dolorum, minus. Tempora reprehenderit a corporis velit, laboriosam
                        vitae ullam, repellat illo sequi odio esse iste fugiat dolor, optio incidunt
                        eligendi deleniti!
                    </p>
                    <ul class="mt-4 list-group">
                        <li class="border-0 ps-0 list-group-item">
                            <p class=" choose__us-title d-flex align-items-center gap-2 ">
                                <i
                                    class="ri-checkbox-circle-line">
                                </i> Fresh and tasty foods
                            </p>
                            <p class="choose__us-desc">
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Quia, voluptatibus.
                            </p>
                        </li>
                        <li class="border-0 ps-0 list-group-item">
                            <p class="choose__us-title d-flex align-items-center gap-2 ">
                                <i
                                    class="ri-checkbox-circle-line">
                                </i> Quality support
                            </p>
                            <p class="choose__us-desc">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Qui, earum.
                            </p>
                        </li>
                        <li class="border-0 ps-0 list-group-item">
                            <p class="choose__us-title d-flex align-items-center gap-2 ">
                                <i
                                    class="ri-checkbox-circle-line">
                                </i>Order from any location
                            </p>
                            <p class="choose__us-desc">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Qui, earum.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
<div class="container">
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="testimonial ">
            <h5 class="testimonial__subtitle mb-4">Testimonial</h5>
            <h2 class="testimonial__title mb-4">
                What our <span>customers</span> are saying
            </h2>
            <p class="testimonial__desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Distinctio quasi qui minus quos sit perspiciatis inventore quis
                provident placeat fugiat!
            </p>
            <div class="slick-slider slick-initialized" dir="ltr">
                <button type="button"
                        data-role="none" class="slick-arrow slick-prev" style="display: block;">
                    Previous
                </button>
                <div class="slick-list">
                    <div class="slick-track"
                         style="width: 3822px; opacity: 1; transform: translate3d(-1092px, 0px, 0px);">
                        <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned"
                             aria-hidden="true" style="width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class="slider__content d-flex align-items-center gap-3 ">
                                        <img src="./Food ordering app -Home_files/ava-3.14420750.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Steven Crock</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="0" class="slick-slide" tabindex="-1"
                             aria-hidden="true" style="outline: none; width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class=" slider__content d-flex align-items-center gap-3 ">
                                        <img src="./Food ordering app -Home_files/ava-1.c185d772.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Jhon Doe</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="1" class="slick-slide slick-active slick-current"
                             tabindex="-1" aria-hidden="false"
                             style="outline: none; width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class="slider__content d-flex align-items-center gap-3 ">
                                        <img src="assets/img/ava-2.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Mitchell Marsh</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="2" class="slick-slide" tabindex="-1"
                             aria-hidden="true" style="outline: none; width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class="slider__content d-flex align-items-center gap-3 ">
                                        <img src="./Food ordering app -Home_files/ava-3.14420750.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Steven Crock</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="3" tabindex="-1" class="slick-slide slick-cloned"
                             aria-hidden="true" style="width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class=" slider__content d-flex align-items-center gap-3 ">
                                        <img src="./Food ordering app -Home_files/ava-1.c185d772.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Jhon Doe</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="4" tabindex="-1" class="slick-slide slick-cloned"
                             aria-hidden="true" style="width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class="slider__content d-flex align-items-center gap-3 ">
                                        <img src="./Food ordering app -Home_files/ava-2.11e918c6.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Mitchell Marsh</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="5" tabindex="-1" class="slick-slide slick-cloned"
                             aria-hidden="true" style="width: 546px;">
                            <div>
                                <div tabindex="-1"
                                     style="width: 100%; display: inline-block;">
                                    <p class="review__text">
                                        "Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Perferendis atque,
                                        quam minus totam maiores laborum! Impedit
                                        consectetur illum aliquid odit. Odit dolore ipsum
                                        quod debitis nostrum necessitatibus quis dolorem
                                        quas!"
                                    </p>
                                    <div
                                        class="slider__content d-flex align-items-center gap-3 ">
                                        <img src="./Food ordering app -Home_files/ava-3.14420750.jpg"
                                             alt="avatar" class=" rounded">
                                        <h6>Steven Crock</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" data-role="none" class="slick-arrow slick-next"
                        style="display: block;">
                    Next
                </button>
                <ul class="slick-dots" style="display: block;">
                    <li class="">
                        <button>1</button>
                    </li>
                    <li class="slick-active">
                        <button>2</button>
                    </li>
                    <li class="">
                        <button>3</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <img
            src="assets/img/network.png" alt="testimonial-img"
            class="w-100">
    </div>
</div>
</div>
</section>