@{
    Layout = null;
}
<section id="Home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="hero__content  ">
                    <h5 class="mb-3">Easy way to make an order</h5>
                    <h1 class="mb-4 hero__title">
                        <span>HUNGRY?</span> Just wait <br> food at
                        <span>
                            your door
                        </span>
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui magni delectus
                        tenetur autem, sint veritatis!
                    </p>
                    <div class="hero__btns d-flex align-items-center gap-5 mt-4">
                        <button
                            class="order__btn d-flex align-items-center justify-content-between">
                            Order
                            now <i class="ri-arrow-right-s-line"></i>
                        </button>
                        <button
                            class="all__foods-btn">
                            <a
                                href="#Foods">
                                See all
                                foods
                            </a>
                        </button>
                    </div>
                    <div class=" hero__service  d-flex align-items-center gap-5 mt-5 ">
                        <p class=" d-flex align-items-center gap-2 ">
                            <span class="shipping__icon">
                                <i
                                    class="ri-car-line">
                                </i>
                            </span> No shipping charge
                        </p>
                        <p class=" d-flex align-items-center gap-2 ">
                            <span class="shipping__icon">
                                <i
                                    class="ri-shield-check-line">
                                </i>
                            </span> 100% secure checkout
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="hero__img">
                    <img src="assets/img/hero.png"
                         alt="hero-img" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>