@{
    ViewData["Title"] = "Home Page";
    Layout = LayoutService.GetLayout();
}

@await Html.PartialAsync("HeroSection")
@await Html.PartialAsync("FoodTypeCards")
@await Html.PartialAsync("ServiceSection")
<section id="Foods">
    @{
        FoodSectionModel model = ViewBag.FoodSectionModel;
    }
    @await Html.PartialAsync("~/Views/Food/FoodSection.cshtml", model)
</section>
@await Html.PartialAsync("DelivarySection")

@section Scripts{
    <script>
       
       
        function searchFood(categoryId){
            let searchParam = $('#searchParam').val();
            getPagination(categoryId, 1, searchParam);
        }

        function getPagination(categoryId = 0, pageNo = 1, searchParam = ""){
            let request = {
                "FoodCategoryId" : categoryId,
                "PageNo": pageNo,
                "SearchParam" : searchParam
            }
            url = `/Food/FoodSection?FoodCategoryId=${categoryId}&pageNo=${pageNo}&searchParam=${searchParam}` 
            $('#Foods').load(url)
        }

        function addToCard(foodId, qty){
             $.ajax({
                url: "/Food/AddToCart",
                type: "POST",
                dataType: "json",
                data: { foodId: foodId, qty: qty },
                success: function (count) {
                    $('#card_count').text(count)
                    return count;
                },
                error: function (err) {
                    console.error(err);
                }
            });
        }
    </script>
}